In [35]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [36]:
df=pd.read_csv('../Datasets/Employee_Salary_Dataset.csv')
df

    ID  Experience_Years  Age  Gender    Salary
0    1                 5   28  Female    250000
1    2                 1   21    Male     50000
2    3                 3   23  Female    170000
3    4                 2   22    Male     25000
4    5                 1   17    Male     10000
5    6                25   62    Male   5001000
6    7                19   54  Female    800000
7    8                 2   21  Female      9000
8    9                10   36  Female     61500
9   10                15   54  Female    650000
10  11                 4   26  Female    250000
11  12                 6   29    Male   1400000
12  13                14   39    Male   6000050
13  14                11   40    Male    220100
14  15                 2   23    Male      7500
15  16                 4   27  Female     87000
16  17                10   34  Female    930000
17  18                15   54  Female   7900000
18  19                 2   21    Male     15000
19  20                10   36    Male    330000
20  21                15   54    Male   6570000
21  22                 4   26    Male     25000
22  23                 5   29    Male   6845000
23  24                 1   21  Female      6000
24  25                 4   23  Female      8900
25  26                 3   22  Female     20000
26  27                 1   18    Male      3000
27  28                27   62  Female  10000000
28  29                19   54  Female   5000000
29  30                 2   21  Female      6100
30  31                10   34    Male     80000
31  32                15   54    Male    900000
32  33                20   55  Female   1540000
33  34                19   53  Female   9300000
34  35                16   49    Male   7600000

In [37]:
def f(s):
    if(s=='Male'):
        return 1
    elif(s=='Female'):
        return 2
df['Gender_value']=df.Gender.apply(f)

In [38]:
del df['Gender']
df["Sal"]=df.Salary
del df['Salary']

In [39]:
x=df.iloc[:,:5]
y=df.iloc[:,4]

In [40]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.6)

In [46]:
reg2=LinearRegression()
reg2.fit(x_train,y_train)

LinearRegression()

In [47]:
y_pred=reg2.predict(x_test)

In [48]:
y_pred

array([2.50000e+05, 9.00000e+05, 1.00000e+07, 8.00000e+04, 6.50000e+05,
       2.20100e+05, 1.40000e+06, 3.30000e+05, 5.00100e+06, 1.50000e+04,
       8.90000e+03, 3.00000e+03, 7.50000e+03, 2.50000e+04, 6.84500e+06,
       6.00005e+06, 5.00000e+04, 6.10000e+03, 8.00000e+05, 1.54000e+06,
       2.50000e+04])

In [49]:
reg2.score(x_test,y_pred)

1.0

(14,)

In [64]:
x_train_np=np.array(x_train)
y_train_np=np.array(y_train)

In [67]:
x_train_np.reshape(-1).shape,y_train_np.reshape(-1).shape

((14, 5), (14,))

In [50]:
from matplotlib import pyplot as plt

In [68]:
# plt.scatter(x_train_np.reshape(-1),y_train)
# plt.show()